.detail-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detail-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.content-name {
    font-weight: 600;
    color: #444444;
}

.content-data {
    line-height: 1.5rem;
    margin: 0 60px;
}
.item-label {
    font-weight: 600;
    color: #444444;
    padding-right: 25px;
}


.item-data {
    color: #777777;
}
